# Compiled source files
*.o
*.a
*.so
*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb
*.txt

# Virtual environment
.env
venv/
__pycache__/

# Data files
*.csv
*.pdf
*.pth
*.pickle
*.npy
*.npyc
*.h5
*.hdf5
*.mat
*.json

# Model checkpoints and logs
**/*.ckpt
**/*.pth
**/*.pth.tar
**/*.pt
**/*.log
**/*.out
**/*.err

# System files
.DS_Store
Thumbs.db
*.bak
*.swp
*.tmp
*.DS_Store
Desktop.ini

# IDEs and Editors
.idea/
.vscode/
*.suo
*.sln
*.sln.docstates
*.slnx
*.slnx.user

# frameworks
stride/
generated_sequences/
pdb_files/
ss_files/

